@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.96);
  }
  to {
    transform: scale(1);
  }
}

.about-container {
  max-width: 500px;
  margin: 4rem auto;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
  font-family: "Amiamie", serif;
  color: #111;
  text-align: center;
  animation: fadeIn 0.8s ease-out, scaleUp 0.5s ease-out;
}

.about-title {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  margin-bottom: 3rem;
  font-family: "Amiamie", serif;
  font-style: italic;
  font-weight: 300;
  animation: fadeIn 0.8s ease-out, scaleUp 0.5s ease-out;
}

.about-container p {
  text-align: left;
  font-style: italic;
  font-weight: 400;
  animation: fadeIn 0.8s ease-out, scaleUp 0.5s ease-out;
}
